# detect text files
* text=auto

# configuration files
./MANIFEST.in text

# python sources
*.py    text diff=python
*.pxd   text diff=python
*.pyx   text diff=python
*.pyi   text diff=python

# data files
*.csv   text